* {
  margin: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}
/* Old Nav Bar Starts here */
/*header::after {
  content: "";
  display: table;
  clear: both;
} */

/*.logo {
  float: right;
}
img {
  margin-top: 1%;
  max-width: 100px;
  max-height: 100px;
}

nav {
  float: right;
}*/

/*nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}*/

/*nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 30px;
  font-size: 15px;
  font-family: Roboto;
  font-weight: 600;
}*/

/*nav a {
  color: #7a7a7a;
  text-decoration: none;
}

nav a:hover {
  color: #ff8a16;
} */ /* Old Nav Bar Ends here */

@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto-Black.ttf);
}

/* Nav Bar Starts Here */
/* Flexbox Contatiner for Nav Bar */
.flex-container1 {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container1 > div {
  width: 100px;
  margin: 0px;
  margin-left: 0px;
  text-align: center;
  line-height: 80px;
  font-size: 30px;
}
/* Logo */
img {
  margin-top: 15px;
  margin-left: 80px;
  margin-right: 0px;
  margin-bottom: 15px;
  max-width: 120px;
  max-height: 120px;
}

/* Nav Bar text */
.text {
  text-align: left;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 600;
  padding: 10px;
  margin-right: 400px;
  width: 800px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: center;
  margin-left: 0px;
  padding-top: 30px;
  font-size: 15px;
  font-family: Roboto;
  font-weight: 600;
}

nav a {
  color: #7a7a7a;
  text-decoration: none;
}

nav a:hover {
  color: #ff8a16;
}

.home {
  width: 50px;
}

.contact {
  width: 60px;
}

.about {
  width: 50px;
}

.blog {
  width: 80px;
}

/* Welcome text On Home Page */
.welcome {
  text-align: center;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 600;
}

/* About Page */
.about1 {
  text-align: center;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 600;
}

/*Css Grid Styles*/
/*.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 50px;
  padding: 10px;
  /* border-radius: 100px;
  width: 45%;
  height: 100%;*/
/*}

/*.grid-container > div {
  text-align: center;
}*/
/* Ending of Css Grid*/
/* .item1 {
  grid-column-start: 1;
  grid-row: 1;
  grid-auto-flow: column;
} */

/*Css Flexbox*/
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  /* background-color: DodgerBlue;*/
}

.flex-container > div {
  /*background-color: #f1f1f1;*/
  width: 1000px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
} /*end of Css Flexbox*/

@font-face {
  font-family: Lobster;
  src: url(/assets/fonts/Lobster.ttf);
}

/* Both Button styles */
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-family: "Lobster";
  font-size: 25px;
  font-weight: 600;
  margin: 4px 2px;
  cursor: pointer;
  width: 60%;
  height: 91%;
}
/* Younger Divison Button */
.button1 {
  background-color: #ff8a16;
  box-shadow: 0px 17px 10px -12px #17aede;
  border-radius: 30px;
  padding: 15px 15px;
  width: 200px;
  height: 60px;
}
/* Older Divison Button */
.button2 {
  background-color: #ff8a16;
  box-shadow: 0px 17px 10px -12px #17aede;
  border-radius: 30px;
  padding: 15px 5px;
  width: 180px;
  height: 60px;
}
/* Blog Coming Soon */
.blog1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 600;
}
.contact1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 600;
}

.younger {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 600;
}

.older {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: currentColor;
}

.spacer {
  padding: 30px;
}

/*nav{
  width: 100%;
  height: 100px;
  background-color: #fff;
}

ul {
  
  
}


ul li {
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 100px;

}

ul li a {
  text-decoration: none;
   font-size: 14px;
  font-family: roboto;
  color: #7A7A7A;
  padding: 0 20px;
  
  
}

ul li a:hover {
  color: #FF8A16;
}  
*/
